<div class="container espaco-top">
    <div class="media justify-content-center">
        <img src="../../../assets/img/Foto Linkedin-Git.png" class="mr-3" alt="..." style="max-width: 100px; max-height: 100px;">
        <div class="media-body">
          <h5 class="mt-0">Lucas Felix</h5>
          <h6 class="mt-0">Desenvolvedor backend Jr.</h6>
          <p>Olá 👋🏼 sou o Lucas, um desenvolvedor em busca de uma colocação profissional no mercado voltado a desenvolvimento de softwares.</p>
        </div>
    </div>
</div>

<div class="container espaco-top">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://seeklogo.com/images/G/github-logo-2E3852456C-seeklogo.com.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Github</h5>
                  <p class="card-text">Aqui está alguns de meus projetos e aplicações.</p>
                  <a href="https://github.com/strFelix" class="btn btn-primary">Clique aqui!</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0bGEl9v47XieEtHyj0TqTr1tOXJmib-KHtw&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Linkedin</h5>
                  <p class="card-text">Meu perfil no Linkedin, onde conto sobre minhas atribuições.</p>
                  <a href="https://www.linkedin.com/in/lucas-felix-014a041b4" class="btn btn-primary">Clique aqui!</a>
                </div>
              </div>
        </div>
    </div>
</div>
